@define-color text rgba(255, 255, 255, 1);
@define-color highlighted-text rgba(0, 0, 0, 1);
@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 0.8);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
  font-family: "JetbrainsMono Nerd Font Propo";
  font-size: 15px;
}

window#waybar {
  background: @dark-9;
  color: @text;
}


/* Global */
#clock,
#volume,
#network,
#bluetooth {
  border-radius: 8px;
  padding: 5px 8px;
  background: @dark-8;
  margin: 5px 10px 5px 0px;
}


/* Workspace settings */
#workspaces button {
  padding: 3px;
  margin: 7px 0px 7px 7px;
  background: transparent;
  border-radius: 2px;
  color: @text;
}

#workspaces button.empty {
  color: @dark-7;
}

#workspaces button.active {
  background: @highlight;
  color: @highlighted-text;
  font-weight: 700;
}


/* Pulse audio slider */
#pulseaudio-slider {
    padding: 0px;
    margin: 0px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-color: transparent;
    border-radius: 5px;
    background: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @highlight;
}
